
.recentPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .photo{
        margin: 12px;
        text-decoration: none;
        transition: transform .2s;
    }
    .photo:hover{
        transform: scale(1.1);
    }

    .photo img {
        height: 300px;
        width: auto;
    }
}
